html, body {
    background-color: #333333;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.intro {
    height: 38.625em;
}

.introLeft {
    float: left;
    height: 25em;
    width: 40%;
}

.introLeft img {
    border-radius: 200px;
    margin-top: 6.53125em;
    margin-left: 3.125em;
    display: inline-block;
}

.introLeft h1 {
    margin-top: 1em;
    margin-left: 4.7em;
}

.introRight {
    margin-top: 3em;
    width: 60%;
    float: right;
}

.introRight p {
    margin-top: 15%;
    margin-right: 5em;
    align-self: left;
}

.intro button {
  height: 100px;
  width: 100px;
  padding: 15px;
  margin-right: 25px;
}

.material-icons.md-48 {
  font-size: 48px;
  margin-right: 24px;
}

.studentLead {
    height: 38.5625em;
    width: 79.125em;
    margin-left: -.75em;

    background-image: url("images/google-io.jpg");
    background-size: cover;
}

.student {
  height: 38.625em;
}

.student embed {
  height: 36em;
  width: 25.5em;
  margin: 2.5em 0em 0em 2.1em;
}

.studentRight {
  margin-top: 5em;
  width: 60%;
  float: right;
}

.studentRight h1, h2{
  margin-right: 1em;
  align-self: left;
}

.orgsWrapper {
  display: table;
  width:inherit;
}

.orgsWrapper img {
  margin-right: 3em;
}

.orgsWrapper h4 {
  margin-top: -10px;
  margin-left: 1.6em;
}

.orgsWrapper h5 {
  margin-top: -2em;
}

.org {
  display: table-cell;
  width: auto;

}

#orgsRow {
  display: table-row;
}

.org img {
  width: inherit;
}

.org h4, h5 {
  width: auto;
  align-items: center;
  align-self: center;
  align-content: center;

}

#vh {
   height: 150px;
   width: 150px;
}

#vsw {
  height: 150px;
  width: 150px;
}

#toastmasters {
  height: 150px;
  width: 181px;
}
