/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html, body {
    background-color: #333333;
}

body {
    font-family: 'Roboto Condensed';
    color: white;
}

.intro {
    height: 38.625em;
}

.introLeft {
    float: left;
    height: 25em;
    width: 40%;
}

.introLeft img {
    border-radius: 200px;
    margin-top: 6.53125em;
    margin-left: 3.125em;
    display: inline-block;
}

.introLeft p {
    margin-top: 1em;
    margin-left: 4.9em;
    font-size: 2em;

}

.introRight {
    width: 55%;
    float: right;
}

.introRight p {
    margin-top: 15%;
    margin-right: 5em;
    align-self: left;
}

.studentLead {
    height: 38.5625em;
    width: 79.125em;
    margin-left: -.75em;


    background-image: url("images/google-io.jpg");
    background-size: cover;
}








