html, body {
    background-color: #333333;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.intro {
    height: 100vh;
}

.introLeft {
    float: left;
    height: 100vh;
    width: 40%;
}

.introLeft img {
    height: 25em;
    width: 25em;
    border-radius: 12.5em;

    display: flex;
    margin-top: 12.5vh;

    margin-left: auto;
    margin-right: auto;
}

.introLeft h1 {
    text-align: center;
    line-height: inherit;
}

.introRight {
    height: auto;
    width: 60%;
    float: right;
    margin-top: 3em;

}

.introRight p {
    margin-top: 15%;
    margin-right: 5em;
    align-self: left;
}

.intro button {
  height: 100px;
  width: 100px;
  padding: 15px;
  margin-right: 25px;
}

.material-icons.md-48 {
  font-size: 48px;
  margin-right: 24px;
}

.studentLead {
    height: 100vh;
    width: 99vw;
    margin-left: -.75em;

    background-image: url("images/google-io.jpg");
    background-size: cover;
}

.student {
  height: 100vh;
}

.studentLeft {
  float: left;
  height: 100vh;
  width: 40%;
}

.studentLeft #resume {
  height: 89vh;
  width: 90%;
  margin: 5% 5% 5% 5%;
}

.studentRight {
  height: auto;
  width: 60%;
  float: right;
  margin-top: 3em;
}

.studentRight h1, h2 {
  margin-right: 1em;
  align-self: left;
}

.orgsWrapper {
  display: flex;
  width: 59vw;
  margin-top: 12.5vh;
}

.org {
  display: table-row;
  width: 12.5vw;
  margin-right: 7.5vw;
}

.org img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.org h4 {
  text-align: center;
}
