body {
	background-color: #7ec0ee;
	font-family: monospace;
	color: white;
	text-align: center;
}

h1 {
	/*font-size: 2.5em;*/
}

img {
	border-radius: 147px;
	margin: auto;
}

h2 {
	/*font-size: 2em;*/
}

a {
	color: white;
	font-size: 1.75em;
	text-decoration: none;
}