/*Irfdawg Code Productions
irfaan.khalid@vanderbilt.edu*/

body {

	background-color: white;
	font-family: monospace;
	color: gray;
	text-align: center;
	margin: auto;
}

h1 {
	font-size: 2.5em;
}

img {
	width: 300px
	height: 300px;
	border-radius: 150px;
	border: 2px solid white;
	margin: auto;
}

h2 {
	font-size: 2em;
}

.link_dividers {
	color: #b2b2b2;
}

a {
	color: white;
	font-size: 1.75em;
	text-decoration: none;
}

a:hover {
	font-size: 2em;
}